<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment Page</title>
    <style>
        #card-element {
            background-color: #fff;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    <h1>Payment Page {{coffeeType}}</h1>
    <form id="payment-form">
        <input type="hidden" id="coffeeType" name="coffeeType" value="{{ coffeeType }}">
        <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
        </div>

        <div id="card-errors" role="alert"></div>

        <button id="submit">Pay Now</button>
    </form>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const urlParams = new URLSearchParams(window.location.search);
            const coffeeType = urlParams.get("coffeeType");

            // Create a Stripe instance with your publishable key
            var stripe = Stripe('pk_test_51O57hNSIvsFPoooMTlrFgxiONAuEr35izWS6vDb2OMfVJ8V6x8mFejgyTNP1gDawgSspELQQFW1eWrc4RKwyQXLJ00MCNXFedV');

            var elements = stripe.elements();

            var card = elements.create('card');

            card.mount('#card-element');

            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                document.getElementById('submit').disabled = true;

                stripe
                    .createPaymentMethod({
                        type: 'card',
                        card: card,
                    })
                    .then(function (result) {
                        if (result.error) {
                            var errorElement = document.getElementById('card-errors');
                            errorElement.textContent = result.error.message;

                            document.getElementById('submit').disabled = false;
                        } else {
                            var coffeeType = document.getElementById('coffeeType').value;
                            console.log(coffeeType)
                            // Make an AJAX request to your server to complete the payment
                            fetch(`/payment?coffeeType=${coffeeType}`, {
                                method: 'POST',
                                body: JSON.stringify({ coffeeType: coffeeType }),
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                            })
                                    
                                .then(function (responseJson) {
                                    if (responseJson.error) {
                                        var errorElement = document.getElementById('card-errors');
                                        errorElement.textContent = responseJson.error;
                                    console.log("HERE11R")
                                          
                                        document.getElementById('submit').disabled = false;
                                    } else {
                                        console.log("HERE222222211R")

                                        console.log('Payment successful:', responseJson);

                                        var paymentFormContainer = document.getElementById('payment-form-container');
                                        paymentFormContainer.innerHTML = '<h2>Thank you for your order!</h2>';
                                    }
                                });
                        }
                    });
            });
        });
    </script>
</body>
</html>
